<div class="container">

  <h1> Candidates </h1>


  <input placeholder="Whom Are you looking for" type="text" [(ngModel)] ="filterText" (keyup) ="onChange()">

  <input type="checkbox" ng-model='active'/>Male
  <input type="checkbox" ng-model='active'/>Female
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datum of filterData">
        <td>{{ datum.id }}</td>
        <td>{{ datum.first_name }}</td>
        <td>{{ datum.last_name }}</td>
        <td>{{ datum.email }}</td>
        <td>{{ datum.gender }}</td>
      </tr>
    </tbody>
  </table>
</div>